devices-back/devices.API/devices.API.Tests/bin/
devices-back/devices.API/devices.API/bin/
devices-back/devices.API/devices.API/obj/
devices-back/devices.API/devices.Application.Tests/bin/
devices-back/devices.API/devices.Application/bin/
devices-back/devices.API/devices.Configuration/bin/
devices-back/devices.API/devices.Configuration/obj/
devices-back/devices.API/devices.Domain/obj/
devices-back/devices.API/devices.Infra/obj/
devices-back/devices.API/devices.Persistance/obj/
devices-back/devices.API/devices.Persistance/bin/
devices-back/devices.API/devices.Infra/bin/Debug/
devices-back/devices.API/devices.Application/obj/
devices-back/devices.API/devices.Application.Tests/obj/
devices-back/devices.API/devices.Domain/bin/
devices-back/devices.API/devices.API.Tests/obj/
devices-back/devices.API.Tests/bin/
devices-back/devices.API.Tests/obj/
devices-back/devices.API/bin/
devices-back/devices.API/obj/
devices-back/devices.Application.Tests/bin/
devices-back/devices.Application/bin/
devices-back/devices.Application/obj/
devices-back/devices.Application.Tests/obj/
devices-back/devices.Configuration/obj/
devices-back/devices.Domain/obj/
devices-back/devices.Configuration/bin/
devices-back/devices.Domain/bin/
devices-back/devices.Infra/bin/
devices-back/devices.Infra/obj/
devices-back/devices.Persistance/bin/
devices-back/obj/
devices-back/.vs/
devices-back/devices.API/.vs/
devices-back/devices.Persistance/obj/
